.tips {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.tip {
    flex: 1 1 45%; /* cada tip tenta pegar até 45% da largura */
    display: flex;
    align-items: center;
}

.tip-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.tip-text {
    font-size: 0.8rem;
    color: #61646B;
}

.tip-icon.sucess {
    background-color: #00AF70;
}

.tip-icon.error {
    background-color: #EA4545;
}

